.navbar {
  padding: 0px 80px;
  display: flex;
  background: rgb(243, 243, 243);
  justify-content: space-between;
  align-items: center;
  color: gray;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 7px 12px 4px rgba(120, 120, 120, 0.17);
  -moz-box-shadow: 0px 7px 12px 4px rgba(107, 107, 107, 0.17);
  box-shadow: 0px 7px 12px 4px rgba(110, 110, 110, 0.17);
}
.logo{
  /* width: 100px; */
  object-fit: cover;
}
.navbar img {
  /* width: 100%; */
  width: 100px;
  object-fit: cover;
}
.active {
  /* padding-bottom: 5px; */
  border-bottom: 2px solid #ffaa00;
}
.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: #000000;
  font-weight: 600;
  gap: 10px;
}
.navbar.glassy {
  background: #39312462;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  transition: background 0.3s ease, backdrop-filter 0.3s ease, color 0.3s ease;
  color: #fff; /* Change text color to white */
}
.navbar.glassy a {
  color: #fff; /* Change link text color to white */
}
/* .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.navbar ul li a {
  background: transparent;
  font-size: 16px;
  color: #000000;
  padding: 8px 13px;
  cursor: pointer;
  font-family: sans-serif;
}
/* .our-services:hover {
  background-color: #0b1158;
  color: #fff;
} */

.navbar li {
  cursor: pointer;
}
#nav-right-btn{
  background: rgb(255, 115, 0);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-family: sans-serif;
  border-radius: 10px;
  border: none;
}
#nav-right-btn:hover{
  background: rgb(255, 166, 0);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-family: sans-serif;
  border-radius: 10px;
}

.menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

/* .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #030021;
  border-radius: 0.2rem;
} */
.only-contact{
  display: none;
}
.active-nav {
  color: #007bff; /* Example: change text color for active link */
  font-weight: bold;
}

@media (max-width: 1200px) {
  .navbar {
    display: inline-block;
    width: 100%;
  }
  .only-contact{
  display: block;
}
  .navbar-right {
    display: none;
  }
  .navbar .menu {
    display: flex;
    /* justify-content: space-between; */
  }
  .menu {
    margin-top: 10px;
    margin-right: 40px;
  }
  
  .menu .menu-icon{
    color: rgb(0, 0, 0);
    /* width: 10px; */
    font-size: 40px;
    font-weight: 700;
  }
  

  /* .navbar a{
        padding: 15px;
    } */

  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .navbar ul.open {
    display: flex;
    /* padding: 10px; */
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }

  .navbar ul li a {
    margin: 0.2rem 0.5rem;
  }
  .navbar-right {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
 
  .menu {
    height: 25px;
    /* margin-top: 20px; */
  }
  .menu .menu-icon{
    color: rgb(0, 0, 0);
    /* width: 10px; */
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .navbar {
    padding: 10px;
  }
  .navbar-right a {
    width: 100%;
    text-align: center;
    /* padding: 8px; */
    /* margin-top: 20px; */
  }
}
