
.service-page-content-container{
    padding: 100px 140px;
}

.service-page-content h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.service-page-content p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
/* .service-page-content-info-span{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
} */

.service-page-content-img{
    /* display:  flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service-page-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.service-page-content-info{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.service-page-content-info p span{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
    /* white-space: nowrap; */
}
.service-page-content-info p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(64, 64, 64);
    
}

/* .service-page-content-img-info{
    margin-top: 100px;
} */

.service-page-content-img-info-container{
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.service-page-content-img-info-img{
    width: 50%;
}
.service-page-content-img-info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.service-page-content-img-info-text{
    width: 50%;
}

.service-page-content-img-info-text h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
}

.service-page-content-img-info-text p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(64, 64, 64);
}

.service-page-content-img-info-text-list{
    margin-top: 20px;
}

.service-page-content-img-info-text-list h2{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(92, 92, 92);
    font-family: sans-serif;
    margin-bottom: 10px;

}

.service-page-content-img-info-text-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}

.service-page-content-img-info-text-list-item p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(64, 64, 64);
}

.service-page-content-img-info-text-list-item-icon{
    font-size: 20px;
    color: rgb(0, 140, 255);
}

@media screen and (max-width: 1000px){
    
.service-page-content-container{
    padding: 50px 15px;
}

.service-page-content h2{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.service-page-content p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.service-page-content-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.service-page-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.service-page-content-info{
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    margin-top: 20px;
    /* text-align: center; */
}
.service-page-content-info p span{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
    /* white-space: nowrap; */
}
.service-page-content-info p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(64, 64, 64);
    
}

/* .service-page-content-img-info{
    margin-top: 100px;
} */

.service-page-content-img-info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.service-page-content-img-info-img{
    width: 100%;
}
.service-page-content-img-info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.service-page-content-img-info-text{
    width: 100%;
}

.service-page-content-img-info-text h1{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    font-family: sans-serif;
}

.service-page-content-img-info-text p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(64, 64, 64);
}

.service-page-content-img-info-text-list{
    margin-top: 20px;
}

.service-page-content-img-info-text-list h2{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(92, 92, 92);
    font-family: sans-serif;
    margin-bottom: 10px;

}

.service-page-content-img-info-text-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}

.service-page-content-img-info-text-list-item p{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    line-height: 25px;
    color: rgb(64, 64, 64);
}

.service-page-content-img-info-text-list-item-icon{
    font-size: 20px;
    color: rgb(0, 140, 255);
}
}

@media screen and (max-width: 600px){
    .service-page-content-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}